* {
    margin: 0;
    padding: 0;
}

.cabeca {
    background-color: red;
    display: flex;
    height: 5vh;
    flex-direction: row;
    justify-content: end;
}

.searchbar {
   margin-bottom: 1em;
}

main {
    background-color: rgb(68, 119, 119);
    height: 100vh;
}